{% extends "layout.html" %}
{% block content %}
<h1>Login User: {{current_user.username}}</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <th>{{item.id}}</th>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
